@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  background: hsl(0deg, 0%, 100%);
  font-size: 18px;
}

.section {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1092px;
  margin: 0 auto;
}

.logo-wrap {
  width: 121px;
  height: 33px;
}
@media only screen and (max-width : 787px) {
  .logo-wrap {
    width: 100px;
    height: 25px;
  }
}

img {
  width: 100%;
  height: 100%;
}

.head-text {
  width: inherit;
  height: inherit;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
@media only screen and (max-width : 1087px) {
  .head-text {
    font-size: 2.375rem;
  }
}
@media only screen and (max-width : 425px) {
  .head-text {
    font-size: 1.75rem;
  }
}

.generic-btn {
  width: auto;
  height: auto;
  line-height: 1;
  padding: 1.125rem 2.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 30px;
  color: hsl(0deg, 0%, 100%);
  background: hsl(180deg, 66%, 49%);
  border: none;
  cursor: pointer;
}
@media only screen and (max-width : 787px) {
  .generic-btn {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width : 425px) {
  .generic-btn {
    font-size: 0.75rem;
  }
}

.generic-btn:hover {
  background: hsl(180deg, 77%, 72%);
}

.input-error {
  border-color: hsl(0deg, 87%, 67%) !important;
}

.small-error {
  visibility: visible !important;
  color: hsl(0deg, 87%, 67%) !important;
}

.hd {
  margin-top: 1.25rem;
  padding: 1.125rem 1.25rem 0;
}
.hd .hd__nav {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hd .hd__nav .hd__nav-top {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-top {
    width: 100%;
    justify-content: space-between;
  }
}
.hd .hd__nav .hd__nav-top .nav-logo-wrap {
  margin: 0 2rem 0 0;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-top .nav-logo-wrap {
    margin: 0;
  }
}
.hd .hd__nav .hd__nav-top .hamburger {
  display: none;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-top .hamburger {
    display: block;
    cursor: pointer;
  }
  .hd .hd__nav .hd__nav-top .hamburger .fa-xmark {
    display: none;
  }
}
.hd .hd__nav .hd__nav-list-wrapper {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper {
    display: none;
    position: absolute;
    left: 0;
    top: 3rem;
    flex-direction: column;
    justify-content: center;
    background: hsl(257deg, 27%, 26%);
    padding: 2rem;
    border-radius: 10px;
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap {
    width: 100%;
    flex-direction: column;
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item {
  width: inherit;
  height: inherit;
  margin: 0 1rem 0 0;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item {
    width: 100%;
    margin: 0 0 1.25rem 0;
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item .hd__nav-link {
  display: block;
  width: inherit;
  height: inherit;
  cursor: pointer;
  line-height: 1.2;
  color: hsl(257deg, 7%, 63%);
  text-transform: capitalize;
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item .hd__nav-link {
    color: hsl(0deg, 0%, 100%);
    width: auto;
    text-align: center;
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item .hd__nav-link:hover {
  color: hsl(257deg, 27%, 26%);
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item .hd__nav-link:hover {
    color: hsl(257deg, 7%, 63%);
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item:last-child {
  margin: 0;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-item-wrap .hd__nav-item:last-child {
    margin: 0 0 1.25rem 0;
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap {
    width: 100%;
    flex-direction: column;
    border-top: 2px solid hsl(257deg, 7%, 63%);
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap .hd__nav-btn {
  width: inherit;
  height: inherit;
  line-height: 1.2;
  display: inline-block;
  color: hsl(257deg, 7%, 63%);
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  cursor: pointer;
  text-transform: capitalize;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  border: none;
  background: transparent;
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap .hd__nav-btn {
    color: hsl(0deg, 0%, 100%);
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap .hd__nav-btn:hover {
  color: hsl(257deg, 27%, 26%);
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap .hd__nav-btn:hover {
    color: hsl(257deg, 7%, 63%);
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap .hd__nav-btn:last-child {
  margin: 0 0 0 1rem;
  background: hsl(180deg, 66%, 49%);
  color: hsl(0deg, 0%, 100%);
}
@media only screen and (max-width : 787px) {
  .hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap .hd__nav-btn:last-child {
    margin: 0;
  }
}
.hd .hd__nav .hd__nav-list-wrapper .hd__nav-btn-wrap .hd__nav-btn:last-child:hover {
  background: hsl(180deg, 77%, 72%);
}

.byb {
  margin: 3.75rem 0 5rem;
  padding: 1.875rem 1.25rem 7.5rem;
}
@media only screen and (max-width : 787px) {
  .byb {
    margin: 0 0 2.5rem;
    padding: 1.875rem 1.25rem 5.625rem;
  }
}
@media only screen and (max-width : 425px) {
  .byb {
    padding: 1.875rem 1.25rem 3.75rem;
  }
}
.byb .byb-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width : 787px) {
  .byb .byb-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.byb .byb-content .content-item {
  width: 100%;
  height: auto;
}
.byb .byb-content .content-item:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width : 787px) {
  .byb .byb-content .content-item:first-child {
    text-align: center;
    align-items: center;
  }
}
.byb .byb-content .content-item:last-child {
  margin: 0 0 0 2rem;
}
@media only screen and (max-width : 787px) {
  .byb .byb-content .content-item:last-child {
    margin: 0 0 2rem;
  }
}
.byb .byb-content .byb-head-text {
  width: inherit;
  height: inherit;
  line-height: 1.2;
  letter-spacing: -1px;
  font-size: 4.5rem;
  color: hsl(260deg, 8%, 14%);
}
@media only screen and (max-width : 1087px) {
  .byb .byb-content .byb-head-text {
    font-size: 3.125rem;
  }
}
@media only screen and (max-width : 787px) {
  .byb .byb-content .byb-head-text {
    font-size: 2.375rem;
  }
}
@media only screen and (max-width : 425px) {
  .byb .byb-content .byb-head-text {
    font-size: 1.75rem;
  }
}
.byb .byb-content .byb-p-text {
  width: inherit;
  max-width: 500px;
  height: inherit;
  line-height: 1.6;
  font-size: 1.25rem;
  color: hsl(257deg, 7%, 63%);
  margin-bottom: 2rem;
}
@media only screen and (max-width : 1087px) {
  .byb .byb-content .byb-p-text {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width : 787px) {
  .byb .byb-content .byb-p-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 425px) {
  .byb .byb-content .byb-p-text {
    font-size: 0.875rem;
  }
}

.short-stat {
  background: #eee;
  padding: 0 1.25rem;
}
.short-stat .shortener-link-section {
  width: inherit;
  height: inherit;
  position: relative;
  top: -5rem;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: 5.625rem;
}
.short-stat .shortener-link-section .link-shortener-wrapper {
  width: inherit;
  height: inherit;
  border-radius: 10px;
  background: hsl(257deg, 27%, 26%);
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding: 4rem 3.75rem 2rem;
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control {
  width: inherit;
  height: inherit;
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control input {
  display: inline-block;
  width: 700px;
  height: auto;
  padding: 0.875rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  border-color: hsl(0deg, 0%, 100%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control input::-moz-placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 75%);
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control input:-ms-input-placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 75%);
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control input::placeholder {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: hsl(0deg, 0%, 75%);
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control .shortener-btn {
  display: inline-block;
  width: 170px;
  height: 57px;
  border-radius: 10px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background: hsl(180deg, 66%, 49%);
  color: hsl(0deg, 0%, 100%);
  cursor: pointer;
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control .shortener-btn:hover {
  background: hsl(180deg, 77%, 72%);
}
.short-stat .shortener-link-section .link-shortener-wrapper .form-control small {
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  padding-top: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  visibility: hidden;
}
.short-stat .shortener-link-section .link-shortened-wrapper {
  margin-top: 1.75rem;
  width: inherit;
  height: inherit;
}
.short-stat .shortener-link-section .link-shortened-wrapper .link-shortened-content-wrap {
  width: inherit;
  height: inherit;
  background: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}
.short-stat .shortener-link-section .link-shortened-wrapper .link-shortened-content-wrap .content-wrap {
  width: auto;
  height: inherit;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
.short-stat .shortener-link-section .link-shortened-wrapper .link-shortened-content-wrap .content-wrap .initial-link {
  display: inline-block;
}
.short-stat .shortener-link-section .link-shortened-wrapper .link-shortened-content-wrap .content-wrap .new-link {
  display: inline-block;
}
.short-stat .shortener-link-section .link-shortened-wrapper .link-shortened-content-wrap .content-wrap .copy-link-btn {
  display: inline-block;
  width: auto;
  height: auto;
  line-height: 1.2;
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 5px;
  color: hsl(0deg, 0%, 100%);
  background: hsl(180deg, 66%, 49%);
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}
.short-stat .shortener-link-section .link-shortened-wrapper .link-shortened-content-wrap:last-child {
  margin-bottom: 0;
}
.short-stat .advanced-stat-section {
  width: inherit;
  height: inherit;
  padding-bottom: 7.5rem;
}
.short-stat .advanced-stat-section .advanced-stat-text-wrap {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6.25rem;
}
.short-stat .advanced-stat-section .advanced-stat-text-wrap .advanced-stat-head-text {
  line-height: 1;
  color: hsl(260deg, 8%, 14%);
  text-transform: capitalize;
}
.short-stat .advanced-stat-section .advanced-stat-text-wrap .advanced-stat-p-text {
  max-width: 520px;
  width: inherit;
  height: inherit;
  text-align: center;
  color: hsl(257deg, 7%, 63%);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}
@media only screen and (max-width : 1087px) {
  .short-stat .advanced-stat-section .advanced-stat-text-wrap .advanced-stat-p-text {
    font-size: 1rem;
  }
}
@media only screen and (max-width : 425px) {
  .short-stat .advanced-stat-section .advanced-stat-text-wrap .advanced-stat-p-text {
    font-size: 0.875rem;
  }
}
.short-stat .advanced-stat-section .advanced-stat-flex-wrapper {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width : 787px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper {
    flex-direction: column;
  }
}
.short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item {
  width: auto;
  height: inherit;
  background: hsl(0deg, 0%, 100%);
  padding: 0 2rem 0;
  border-radius: 5px;
}
@media only screen and (max-width : 1087px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item {
    padding: 0 1rem 0;
  }
}
@media only screen and (max-width : 787px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item {
    padding: 0 1.25rem 0;
  }
}
.short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .advanced-stat-flex-item-content {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  bottom: 2.75rem;
  left: 0;
}
@media only screen and (max-width : 1087px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .advanced-stat-flex-item-content {
    bottom: 2.125rem;
  }
}
@media only screen and (max-width : 787px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .advanced-stat-flex-item-content {
    align-items: center;
  }
}
.short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .advanced-stat-icon-wrap {
  width: 90px;
  height: 90px;
  background: hsl(257deg, 27%, 26%);
  border-radius: 100%;
  padding: 1.625rem;
  margin-bottom: 1.875rem;
}
@media only screen and (max-width : 1087px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .advanced-stat-icon-wrap {
    width: 70px;
    height: 70px;
    padding: 1.25rem;
  }
}
.short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .stat-flex-item-head-text {
  width: inherit;
  height: inherit;
  line-height: 1.2;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: hsl(260deg, 8%, 14%);
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}
@media only screen and (max-width : 1087px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .stat-flex-item-head-text {
    font-size: 1.125rem;
  }
}
.short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .stat-flex-item-p-text {
  width: inherit;
  height: inherit;
  line-height: 1.6;
  font-size: 0.875rem;
  color: hsl(257deg, 7%, 63%);
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width : 787px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item .stat-flex-item-p-text {
    text-align: center;
  }
}
.short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item:nth-child(2) {
  margin: 0 1.5rem;
}
@media only screen and (max-width : 787px) {
  .short-stat .advanced-stat-section .advanced-stat-flex-wrapper .advanced-stat-flex-item:nth-child(2) {
    margin: 4rem 0;
  }
}

.boost-link {
  background: hsl(257deg, 27%, 26%);
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 2.875rem 1.25rem;
}
@media only screen and (max-width : 425px) {
  .boost-link {
    background-image: url(../images/bg-boost-mobile.svg);
  }
}
.boost-link .boost-link-content {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.boost-link .boost-link-content .boost-link-head-text {
  line-height: 1.3;
  color: hsl(0deg, 0%, 100%);
}

.footer {
  background: hsl(260deg, 8%, 14%);
  padding: 2.875rem 1.25rem;
}
.footer .footer-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width : 787px) {
  .footer .footer-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.footer .footer-content .footer-logo-wrap {
  margin-right: 5rem;
}
@media only screen and (max-width : 1087px) {
  .footer .footer-content .footer-logo-wrap {
    margin-right: 0;
  }
}
@media only screen and (max-width : 787px) {
  .footer .footer-content .footer-logo-wrap {
    margin-bottom: 2.875rem;
  }
}
.footer .footer-content .footer-item {
  width: auto;
  height: inherit;
  margin-bottom: 2.875rem;
}
.footer .footer-content .footer-item .ft-item-content {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
@media only screen and (max-width : 787px) {
  .footer .footer-content .footer-item .ft-item-content {
    align-items: center;
  }
}
.footer .footer-content .footer-item .ft-item-content .ft-item-head-text {
  width: inherit;
  height: inherit;
  line-height: 1.3;
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  margin-bottom: 1.5rem;
}
@media only screen and (max-width : 425px) {
  .footer .footer-content .footer-item .ft-item-content .ft-item-head-text {
    font-size: 0.75rem;
  }
}
.footer .footer-content .footer-item .ft-item-content .ft-item-p-text {
  width: inherit;
  height: inherit;
  line-height: 1.3;
  font-size: 0.875rem;
  color: hsl(0deg, 0%, 75%);
  margin-bottom: 0.875rem;
  cursor: pointer;
}
@media only screen and (max-width : 425px) {
  .footer .footer-content .footer-item .ft-item-content .ft-item-p-text {
    font-size: 0.75rem;
  }
}
.footer .footer-content .footer-item .ft-item-content .ft-item-p-text:hover {
  color: hsl(180deg, 66%, 49%);
}
.footer .footer-content .footer-item .ft-item-content .ft-item-p-text:last-child {
  margin-bottom: 0;
}
.footer .footer-content .footer-social-icons {
  width: auto;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer .footer-content .footer-social-icons .footer-icon-wrap {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
@media only screen and (max-width : 425px) {
  .footer .footer-content .footer-social-icons .footer-icon-wrap {
    width: 18px;
    height: 18px;
  }
}
.footer .footer-content .footer-social-icons .footer-icon-wrap svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.footer .footer-content .footer-social-icons .footer-icon-wrap svg:hover {
  fill: hsl(180deg, 66%, 49%);
}
.footer .footer-content .footer-social-icons .footer-icon-wrap:first-child {
  margin-left: 0;
}/*# sourceMappingURL=style.css.map */